:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --primary-colorb:#3AAFFF;
  --secondary-colorp:#A55FEF;
  --secondary-coloro:#FF8811;
  --secondary-colory:#FDDF50;
  --main-color: #0a2f4d;
  --hover-color: #ff8c00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image:
    radial-gradient(circle at top left, var(--primary-colorb), transparent),
    radial-gradient(circle at bottom right, var(--secondary-colorp), transparent),
    linear-gradient(to bottom, var(--secondary-coloro), var(--secondary-colory));
  background-blend-mode: screen;
  color: var(--main-color);
 }

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--hover-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-color:#FFF7D0;
    --hover-color: #FFD700;
  }
  html {
    color-scheme: dark;
  }
  html,body {
    background-blend-mode:inherit; 
  }
}
